---
const response = await fetch("https://public-api.wordpress.com/rest/v1.1/sites/249960814/posts/1");
const data = await response.json();
const pageContent = data.content;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <h1>My Astro Site</h1>
    <div set:html={pageContent}></div>
  </body>
</html>